*{
  background-color: whitesmoke;
}

nav{
  background-color: lightgrey;
  top: 0px;
  width: 100%;
  padding: 5px;
  margin: 0px;
  position: fixed;
  z-index: 1;
}

nav li{
  display: inline;
  margin: 20px;
  position: relative;
  border: 10px;
  bottom: 30px;
  left: 50px;
}

h3{
  padding: 15px;
  position: relative;
  margin: 5px;
  bottom: -5px;
}

figcaption{
  padding-top: 110px;
  margin-left: 17%;
}

section div{
  display: inline-block;
  padding: 5px;
  margin: auto;
  margin-left: 1%;
  margin-top: 10px;
}

#secdiv1{
  margin-left: 227px;
}

#secdiv3{
  margin-right: 227px;
}

#artimg{

  float: left;
  padding: 25px;
  margin-left: 220px;
}

p{
  text-align: justify;
  padding: 8px;
  height: 400px;
  overflow-y: auto;;
  bottom: 25px;
  margin-right: 200px;
}

button{
  background-color: hotpink;
  color: white;
  border-radius: 30px;
  width: 100px;
  height: 50px;
  margin-left: 75%;
  margin-bottom: 175px;
  border: 10px;
}

footer{
  background-color: lightgrey;
  bottom: 0px;
  width: 100%;
  padding: 5px;
  margin: 0px;
  height: 75px;
}